body {
  background-color: rgba(21, 253, 0, 0.219);
}

.content {
  background-color: rgba(21, 253, 0, 0.219);
}

.content .card {
  border-radius: 20px;
}

.katalog {
  padding: 60px;
  background-color: rgba(21, 253, 0, 0.219);
}

.katalog .card {
  border-radius: 20px;
}

.card .layanan{
  
}